.customTooltip .__react_component_tooltip.place-top{
    margin-top:0 !important;
    }
    .customTooltip .__react_component_tooltip.type-dark{
    background-color: #212121;
    }
    .customTooltip .__react_component_tooltip.type-dark.place-top:after {
        border-top-color: #212121;
        border-top-style: solid;
        border-top-width: 6px;
    }